/* Fix for the fixed-position navbar overlapping content */
@media all and (min-width: 980px) {
	body {
		padding-top: 60px;
	}
}

/* Fix for brand appearing too far over on the left */
.navbar .brand {
	margin-left: 0;
}

/* Make sure the footer appears a decent way down the page */
.container-fluid {
	min-height: 600px; 
}

footer {
	padding: 10px 40px 30px 40px;
}

.projects h4 {
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 0;
}

.projects h4 a {
	color: white;
}

.projects h4 a:hover {
	color: #007fff;
	text-decoration: none;
}

@media all and (min-width: 980px) {
	.projects .row-fluid p {
		min-height: 160px;
	}
}

figure {
	padding: 2px;
	border: 1px solid #ddd;
}

.gravatar {
	padding: 2px;
	border: 1px solid #ddd;
}

.carousel-control {
	font-family: "Helvetica Neue";
}

figure {
	margin: 0;
	text-align: center;
}

figcaption {
	font-size: small;
	font-style: italic;
	text-align: center;
}