<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/lib/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/lib/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="/css/site.css">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<a class="brand" href="/">richard-towers.com</a>
				<ul class="nav pull-right">
					<li>
				    <a href="http://www.facebook.com/RichardSebastianTowers">Facebook</a>
				  </li>
					<li>
				    <a href="https://twitter.com/RichardTowers">Twitter</a>
				  </li>
				  <li>
				    <a href="https://github.com/richardTowers">Github</a>
				  </li>
				</ul>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">{{ content }}</div>
				<div class="span3">
					<nav class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">This Site</li>
							<li><a href="/">Home</a></li>
							<li><a href="/projects">Projects</a></li>
							<li class="nav-header">Posts</li>
							{% for post in site.posts %}
								<li><a href="{{ post.url }}">{{ post.title }}</a></li>
							{% endfor %}
						</ul>
					</nav>
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Projects I Find Interesting</li>
							<li><a href="http://angularjs.org/">AngularJS</a></li>
							<li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
							<li><a href="http://www.typescriptlang.org/">TypeScript</a></li>
							<li><a href="http://msdn.microsoft.com/en-us/library/bb126445.aspx">T4</a></li>
							<li class="nav-header">Comics I Enjoy</li>
							<li><a href="http://xkcd.com/">XKCD</a></li>
							<li><a href="http://www.asofterworld.com/">A Softer World</a></li>
							<li><a href="http://www.explosm.net/comics">Cyanide and Happiness</a></li>
							<li class="nav-header">Blogs I Read</li>
							<li><a href="http://darklingdevelopment.com/">Darkling Development</a></li>
							<li><a href="http://www.codinghorror.com/blog/">Coding Horror</a></li>
							<li><a href="http://www.olegsych.com/">Oleg Sych</a></li>
							<li><a href="http://paulirish.com/">Paul Irish</a></li>
							<li><a href="http://www.hanselman.com/blog/">Scott Hanselman</a></li>
							<li><a href="http://blogs.msdn.com/b/ericlippert/">Eric Lippert</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<footer>
			Copyleft Richard Towers {{ site.time | date: "%Y" }}. All wrongs reserved.
		</footer>
		<script src="/js/lib/jquery-1.8.3.min.js"></script>
		<script src="/js/lib/bootstrap.js"></script>
	</body>
</html>
