<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="JlPwGrV8ZduBoZKEJNVsEFCkLXIH-gkI6jzlBoNJOYE">
    <link rel="stylesheet" href="/static/styles.css?no-cache">
    <link rel="stylesheet" href="/static/autumn.css?no-cache">
    <meta name="twitter:creator" content="@richardtowers" />
    <meta property="og:title" content="{{page.title}}">
    {% if page.image %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="{{page.image}}">
    {% else %}
    <meta name="twitter:card" content="summary" />
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="Richard Towers | {{page.excerpt}}" />
    {% endif %}
    <title>Richard Towers | {{ page.title }}</title>
  </head>
  <body>
    <div class="header">
      <a href="/">Richard Towers</a>
    </div>
    <main>
      <div class="content">
        {{ content }}
      </div>
    </main>
    <footer>
      <img alt="doge" src="/static/images/doge.png"> Copyleft Richard Towers {{ site.time | date: "%Y" }}. All wrongs reserved.
    </footer>
  </body>
</html>
